@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 1.2rem;
}

.border {
    border-bottom: 1px solid #e5e2e2;
    margin-left: 2rem;
    margin-right: 2rem;
}

header nav {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 120px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #1D2C3C;
    margin: 15px;
}

.account-btn {
    border-radius: 5px;
    border: 2px solid #646E7A;
    text-align: center;
    padding: 5px;
}

/* Card Section */
.wrapper {
    margin-top: 40px;
}
.card-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.checkout {
    background: #fff;
    padding: 20px;  
    margin-bottom: 10px;
    position: relative;
}

h2 {
    color: #1D2C3C;
    font-size: 20px; 
}

.info {
    display: flex;
    gap: 5px;
    margin-top: 20px;
}

.number {
    width: 25px;
    height: 25px;
    border: 2px solid #1179BF;
    border-radius: 50%;
}

.number p {
    text-align: center;
    margin-top: 3px;
    color: #1179BF;
    font-size: 13px;
}

.info-text {
    margin-top: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    justify-content: space-between;
    gap: 7px;
}

label {
    margin-top: 10px;
    display: block;
    font-size: 0.8rem;
    color: #1D2C3C;
}

#creditCard {
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    background-color: #EDEFF2;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    color: #CCD0D2;
}

.btn {
    margin-top: 30px;
}

button {
    background-color: #038E7D;
    border-radius: 5px;
    outline: none;
    width: 100%;
    padding: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.help {
    text-align: center;
    margin: auto;
}

.info-texts {
    margin-top: 5px;
    color: #1D2C3C;
    font-size: 14px;
}

.info-texts span {
    color: #646E7A;
}

.info-texts a {
    color: #646E7A;
    text-decoration: underline;
}

.stripe-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.stripe-btn img {
    width: 100px;
}

/* freelancer Section */
.freelancer {
    background: #1179BF;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.freelancer-heading h2 {
    font-size: 18px;
    color: #fff;
}

h5.money {
    color: #fff;
    font-size: 40px;
    font-weight: normal;
    margin-top: 7px;
}

.money span {
    font-size: 10px;
}

.freelancer-heading p{
    font-size: 14px;
    font-style: italic;
    color: #fff;
    margin-top: 7px;
}

.details {
    margin-top: 20px;
}

.lists {
    display: flex;
    gap: 8px;
    margin-top: 8px;
}

.lists img {
    width: 15px;
}

.lists p {
    font-size: 13px;
    color: #fff;
}

.switch {
    margin-top: 25px;
}

.switch p {
    font-size: 15px;
    color: #fff;
}

.switch span {
    font-weight: 700;
}

.switch a {
    font-style: italic;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.switch a::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #8ac8f2;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.line {
    background-color: #8ac8f2;
    margin-top: 20px;
    width: 100%;
    height: 2px;
}

.quote {
    margin-top: 25px;
}

.quote p {
    font-style: italic;
    color: #fff;
    font-size: 14px;
    line-height: 1.4;
}

.quote span {
    font-weight: 700;
}

.quote-flex {
    display: flex;
    margin-top: 15px;
    gap: 10px;
}

.quote-flex img {
    width: 30px;
}

.quote-flex p {
    margin-top: 5px;
    font-size: 14px;
}

/* Copyright */
.copyright {
    text-align: center;
    color: #636B6F;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    header {
        padding: 1rem;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
    }

    .card-container {
        display: flex;
        flex-direction: column;
    }
}