@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 1.5rem;
}

.border {
    border-bottom: 1px solid #979797;
    margin-left: 2rem;
    margin-right: 2rem;
}

header nav {
    display: flex;
    justify-content: space-between;
}

.logo img {
    width: 130px;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #1D2C3C;
    margin: 20px;
}

.account-btn {
    border-radius: 5px;
    border: 2px solid #646E7A;
    text-align: center;
    padding: 5px;
}

/* Card Section */
.card-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.checkout {
    background: #fff;
    padding: 30px;   
}

h2 {
    color: #1D2C3C;
    font-size: 20px;
    /* border-bottom: 1px solid #979797; */
}

/* .border1 {
    border-bottom: 1px solid #979797;
    width: 100%;
} */

.info {
    display: flex;
    gap: 5px;
    margin-top: 30px;
}

.number {
    width: 30px;
    height: 30px;
    border: 2px solid #1179BF;
    border-radius: 50%;
}

.number p {
    text-align: center;
    margin-top: 3px;
    color: #1179BF;
}

.info-text {
    margin-top: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

.flex {
    display: flex;
    justify-content: space-between;
}

label {
    margin-top: 15px;
    display: block;
    font-size: 0.8rem;
    color: #1D2C3C;
}

#creditCard {
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 10px;
    background-color: #EDEFF2;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    color: #CCD0D2;
}

.btn {
    margin-top: 40px;
}

button {
    background-color: #038E7D;
    border-radius: 5px;
    outline: none;
    width: 100%;
    padding: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.help {
    text-align: center;
    margin: auto;
}

.info-texts {
    margin-top: 5px;
    color: #1D2C3C;
    font-size: 14px;
}

.info-texts span {
    color: #646E7A;
}

.info-texts a {
    color: #646E7A;
    text-decoration: underline;
}

.stripe-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.stripe-btn img {
    width: 120px;
}

/* freelancer Section */
.freelancer {
    background: #1179BF;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

/* Copyright */
.copyright {
    text-align: center;
    color: #636B6F;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    header {
        padding: 1rem;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
    }

    .card-container {
        display: flex;
        flex-direction: column;
    }
}